---
---

<header>
  <nav style="margin-right: 24px;">
    <a href="/">
      <img src="/home.svg" />
    </a>
    <div>
      <h3>Chandram's Blog</h3>
      <h1><slot /></h1>
    </div>
  </nav>
</header>
