---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout headertitle={frontmatter.title}>
  <br />
  <br />
  <hr />
  <h2 class="highlightedText">{frontmatter.description}</h2>
  <p class="highlightedText">By {frontmatter.author}</p>
  <p class="highlightedText">Published on {frontmatter.pubDate}</p>
  <hr />
  <div class="blogtext"><slot /></div>
</BaseLayout>
